// 颜色
:root {
  /**
   * 基础色盘
   */

  // 克莱因蓝
  --e-color-kleinblue1: #000412;
  --e-color-kleinblue2: #000827;
  --e-color-kleinblue3: #0c2360;
  --e-color-kleinblue4: #00288d;
  --e-color-kleinblue5: #002fa7;
  --e-color-kleinblue6: #0d3cb4;
  --e-color-kleinblue7: #2555cd;
  --e-color-kleinblue8: #406fe7;
  --e-color-kleinblue9: #5988ff;
  --e-color-kleinblue10: #b2c0e4;

  // 中性色
  --e-color-neutral1: #121212;
  --e-color-neutral2: #151515;
  --e-color-neutral3: #2d2d2d;
  --e-color-neutral4: #3f3f3f;
  --e-color-neutral5: #555555;
  --e-color-neutral6: #707070;
  --e-color-neutral7: #848484;
  --e-color-neutral8: #999999;
  --e-color-neutral9: #b2b2b2;
  --e-color-neutral10: #cccccc;
  --e-color-neutral11: #e5e5e5;

  // 红色
  --e-color-red1: #850d09;
  --e-color-red2: #b4110c;
  --e-color-red3: #e4160f;
  --e-color-red4: #f13b35;
  --e-color-red5: #f3524d;
  --e-color-red6: #ff5f5a;
  --e-color-red7: #ff7873;
  --e-color-red8: #ff928d;
  --e-color-red9: #ffaba6;
  --e-color-red10: #ffd2af;

  // 黄色
  --e-color-yellow1: #754c01;
  --e-color-yellow2: #a86d01;
  --e-color-yellow3: #dabe01;
  --e-color-yellow4: #feaa11;
  --e-color-yellow5: #feb32a;
  --e-color-yellow6: #ffc037;
  --e-color-yellow7: #ffd950;
  --e-color-yellow8: #fff36a;
  --e-color-yellow9: #ffff83;
  --e-color-yellow10: #ffe1aa;

  // 绿色
  --e-color-green1: #1f370f;
  --e-color-green2: #355f1a;
  --e-color-green3: #4b8725;
  --e-color-green4: #62af30;
  --e-color-green5: #6dc335;
  --e-color-green6: #7ad042;
  --e-color-green7: #93e95b;
  --e-color-green8: #adff75;
  --e-color-green9: #c6ff8e;
  --e-color-green10: #c5e7ae;

  // 橙色
  --e-color-orange1: #9b370e;
  --e-color-orange2: #b54f00;
  --e-color-orange3: #e86600;
  --e-color-orange4: #ff801c;
  --e-color-orange5: #ff8e36;
  --e-color-orange6: #ff9b43;
  --e-color-orange7: #ffb45c;
  --e-color-orange8: #ffce76;
  --e-color-orange9: #ffcf8f;
  --e-color-orange10: #ffd2af;

  // 灰蓝色
  --e-color-greyblue1: #e5e8f0;
  --e-color-greyblue2: #f7f8fa;
  --e-color-greyblue3: #f5f6f8;

  // 灰黑色
  --e-color-greyblack1: #1e1e1e;
  --e-color-greyblack2: #242424;
  --e-color-greyblack3: #2e2e2e;
  --e-color-greyblack4: #383838;

  // 白色
  --e-color-white: #ffffff;

  // 黑色
  --e-color-black: #000000;

  // 透明
  --e-color-transparent: transparent;

  /**
   * 状态颜色 && 功能颜色
   */

  // 成功色
  --e-color-success1: var(--e-color-green5); // normal
  --e-color-success2: var(--e-color-green7); // hover
  --e-color-success3: var(--e-color-green10); // disabled

  // 告警色
  --e-color-warning1: var(--e-color-orange5); // normal
  --e-color-warning2: var(--e-color-orange7); // hover
  --e-color-warning3: var(--e-color-orange10); // disabled

  // 错误色
  --e-color-error1: var(--e-color-red5); // normal
  --e-color-error2: var(--e-color-red7); // hover
  --e-color-error3: var(--e-color-red10); // disabled

  // 品牌色
  --e-color-brand1: var(--e-color-kleinblue5); // 常规、文字
  --e-color-brand2: var(--e-color-kleinblue8); // 悬浮
  --e-color-brand3: var(--e-color-kleinblue4); // 确认
  --e-color-brand4: var(--e-color-kleinblue6); // 特殊场景
  --e-color-brand5: var(--e-color-kleinblue10); // 一般禁用
  --e-color-brand6: var(
    --e-color-kleinblue10
  ); // 文字禁用，暂和一般禁用保持一致

  // 文字颜色
  --e-color-text1: var(--e-color-black); // 强调/正文标题 黑色
  --e-color-text2: var(--e-color-white); // 强调/正文标题 白色
  --e-color-text3: var(--e-color-neutral4); // 次强调/正文标题
  --e-color-text4: var(--e-color-neutral6); // 次要信息/正文
  --e-color-text5: var(--e-color-neutral11); // 置灰信息

  // 背景色
  --e-color-bg1: var(--e-color-greyblue1); // 整体背景色
  --e-color-bg2: var(--e-color-white); // 一级容器背景色
  --e-color-bg3: var(--e-color-greyblue2); // 二级容器背景色
  --e-color-bg4: var(--e-color-greyblue1); // 三级容器背景色
  --e-color-bg5: var(--e-color-white); // 弹出框、tooltip背景色
  --e-color-bg6: rgba(0, 0, 0, 0.5); // 蒙层

  // 链接色
  --e-color-link1: var(--e-color-kleinblue5); // 常规
  --e-color-link2: var(--e-color-kleinblue8); // 悬浮
  --e-color-link3: var(--e-color-kleinblue4); // 点击
  --e-color-link4: var(--e-color-kleinblue6); // 特殊场景
  --e-color-link5: var(--e-color-kleinblue10); // 一般禁用
  --e-color-link6: var(--e-color-kleinblue10); // 文字禁用，暂和一般禁用保持一致

  // 边框颜色
  --e-color-border1: var(--e-color-neutral10);

  // 分割线颜色
  --e-color-division1: var(--e-color-neutral11);

  // 填充色，用于阴影容器背景
}
