// 阴影
:root {
  --e-shadow1: 0 1px 5px rgba(45, 47, 51, 10); // SL1-normal 一级投影，应用于默认状态的卡片、楼层、导航栏、组件里局部投影等
  --e-shadow2: 0 6px 18px rgba(45, 47, 51, 14); // SL1-hover 升起投影，应用于悬停状态的卡片等，是SL1的激活态
  --e-shadow3: 0 6px 18px rgba(45, 47, 51, 14); // SL2-normal 二级投影，应用与一级投影上的卡片、组件等
  --e-shadow4: 0 10px 32px rgba(45, 47, 51, 18); // SL3 覆盖阴影，应用于信息提示【tips、活动进入按钮等】等投影
  --e-shadow5: 0 12px 42px rgba(45, 47, 51, 24); // SL4 弹出阴影，应用于模态弹窗投影
}
