.el-scrollbar {
  background-color: var(--o-color-bg2);
  .select-text {
    color: var(--o-color-text4);
    padding: 0 20px;
  }
  .suffix-icon {
    color: var(--o-color-brand1);
  }
}
.el-popper.is-light {
  border: 1px solid var(--o-color-border2);
}
.el-select-dropdown__item.hover {
  background-color: var(--o-color-bg1);
}
.el-popper{
  background-color: red;
}
