.text-box {
  padding: var(--o-spacing-h2);
  background-color: var(--o-color-bg2);
  box-shadow: var(--o-shadow-l2);
  @media screen and (max-width: 768px) {
    padding: var(--o-spacing-h5);
  }
  p:first-child {
    margin-top: 0;
  }
}
strong {
  font-weight: 500;
  color: var(--o-color-text1);
}
p,
ul,
ol {
  margin-top: 22px;
  font-size: var(--o-font-size-text);
  font-weight: normal;
  color: var(--o-color-text4);
  line-height: var(--o-line-height-text);
  @media screen and (max-width: 768px) {
    margin-top: var(--o-spacing-h8);
    font-size: var(--o-font-size-tip);
  }
}
h3 {
  margin: 0 auto var(--o-spacing-h2);
  text-align: center;
  font-weight: 300;
  font-size: var(--o-font-size-h3);
  line-height: var(--o-line-height-h3);
  @media screen and (max-width: 768px) {
    font-size: var(--o-font-size-h5);
    line-height: var(--o-line-height-h5);
    margin: var(--o-spacing-h4) auto var(--o-spacing-h6);
  }
  a {
    display: none;
  }
}
