.markdown {
  width: calc(100% - 88px);
  max-width: 1416px;
  padding: 44px;
  margin: var(--o-spacing-h2) auto;
  margin-bottom: var(--o-spacing-h1);
  background-color: var(--e-color-bg2);
  & > *:first-child {
    margin-top: 0 !important;
  }
  --e-color-table: var(--e-color-border2);
  @media (max-width: 1439px) {
    width: calc(100% - 48px);
  }
  @media (max-width: 1100px) {
    width: calc(100% - 32px);
  }
  @media (max-width: 768px) {
    padding: var(--o-spacing-h7);
    margin-top: var(--o-spacing-h7);
    margin-bottom: var(--o-spacing-h2);
  }
  ol,
  ul {
    list-style: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--e-color-text1);
    font-weight: normal;

    a {
      display: none;
    }
  }

  hr {
    margin: var(--o-spacing-h1) 0;
    border: none;
    height: 1px;
    background-color: var(--e-color-division1);
    @media screen and (max-width: 768px) {
      margin: var(--o-spacing-h4) 0;
    }
  }

  h1 {
    margin-top: var(--o-spacing-h1);
    margin-bottom: var(--o-spacing-h2);
    font-size: var(--o-font-size-h3);
    line-height: var(--o-line-height-h3);
    @media screen and (max-width: 768px) {
      margin: var(--o-spacing-h3) 0 var(--o-spacing-h4);
      font-size: var(--o-font-size-h7);
      line-height: var(--o-line-height-h7);
    }
  }

  h2 {
    margin-top: var(--o-spacing-h2);
    margin-bottom: var(--o-spacing-h3);
    font-size: var(--o-font-size-h5);
    line-height: var(--o-line-height-h5);
    @media screen and (max-width: 768px) {
      margin: var(--o-spacing-h4) 0 var(--o-spacing-h5);
      font-size: var(--o-font-size-h8);
      line-height: var(--o-line-height-h8);
    }
  }

  h3 {
    margin-top: var(--o-spacing-h3);
    font-size: var(--o-font-size-h7);
    line-height: var(--o-line-height-h8);
    @media screen and (max-width: 768px) {
      margin-top: var(--o-spacing-h5);
      font-size: var(--o-font-size-text);
      line-height: var(--o-line-height-text);
    }
  }

  h4 {
    margin-top: var(--o-spacing-h4);
    font-size: var(--o-font-size-h8);
    line-height: var(--o-font-size-h8);
    @media screen and (max-width: 768px) {
      margin-top: var(--o-spacing-h6);
      font-size: var(--o-font-size-tip);
      line-height: var(--o-line-height-tip);
    }
  }

  h5 {
    margin-top: var(--o-spacing-h5);
    font-size: var(--o-font-size-text);
    line-height: var(--o-font-size-text);
  }

  p,
  ul,
  ol {
    margin-top: var(--o-spacing-h8);
    margin-bottom: var(--o-spacing-h8);
    font-size: var(--o-font-size-text);
    font-weight: normal;
    color: var(--e-color-text4);
    line-height: var(--o-line-height-text);
    @media screen and (max-width: 768px) {
      font-size: var(--o-font-size-tip);
    }
  }

  ul,
  ol {
    padding-left: 1em;

    li {
      &::marker {
        color: var(--o-color-base_inverse);
      }
    }
  }

  table {
    width: 100%;
    font-size: var(--o-font-size-text);
    table-layout: fixed;
    word-break: break-word;
    border-collapse: collapse;
    padding: 0;

    tr {
      height: 36px;
      color: var(--e-color-text4);
      border-bottom: 1px solid var(--e-color-table);

      th {
        font-size: var(--o-font-size-h8);
        background-color: var(--e-color-bg4);
        color: var(--e-color-text1);
      }
    }
  }

  strong {
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }

  a[href^='#'] {
    display: none;
  }
  div[class*='language-'] {
    position: relative;
    margin: 8px 0;
    background-color: var(--e-color-bg1);
    box-shadow: var(--e-shadow-sl1);
    overflow-x: auto;
  }
  [class*='language-'] code,
  [class*='language-'] pre {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  [class*='language-'] pre {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 24px 64px;
    background: 0 0;
    overflow-x: auto;
  }

  [class*='language-'] code {
    padding: 0;
    line-height: var(--o-line-height-text);
    font-size: var(--o-font-size-text);
    color: #eee;
  }
}

/**
 * 法律声明 && 隐私政策
 **/
.legal-privacy {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: var(--o-spacing-h1);
  max-width: 860px;
  background: var(--e-color-bg1);
}
@media screen and (max-width: 768px) {
  .legal-privacy {
    margin-top: var(--o-spacing-h2);
    padding-bottom: var(--o-spacing-h2);
  }
}
.legal-privacy hr {
  margin: var(--o-spacing-h2) 0;
}
@media screen and (max-width: 768px) {
  .legal-privacy hr {
    margin: var(--o-spacing-h4) 0 var(--o-spacing-h4) 0;
  }
}
.legal-privacy h1 {
  margin-top: 0;
  text-align: center;
}
.legal-privacy h2 {
  font-size: var(--o-font-size-h7);
  letter-spacing: 0;
  line-height: var(--o-line-height-h8);
  font-weight: 700;
  margin-bottom: var(--o-spacing-h6);
}
@media screen and (max-width: 768px) {
  .legal-privacy h2 {
    font-size: var(--o-font-size-text);
    letter-spacing: 0;
    line-height: var(--o-line-height-text);
    font-weight: 700;
    margin-bottom: --o-spacing-h8;
  }
}

/**
 * 迁移专区
 **/
.migration-markdown {
  height: 100%;
  padding: 64px 120px;
  margin-left: 300px;
  background-color: var(--e-color-bg1);
  @media screen and (max-width: 1280px) {
    padding: 64px 60px;
  }

  @media screen and (max-width: 1100px) {
    margin-left: 0px;
    padding: 16px 16px 40px 16px;
  }
  & > *:first-child {
    margin-top: 0 !important;
  }
  --e-color-table: var(--e-color-border2); // 表格边框
  @media (max-width: 768px) {
    padding: var(--o-spacing-h7);
    margin-top: var(--o-spacing-h7);
    margin-bottom: var(--o-spacing-h2);
  }
  ol,
  ul {
    list-style: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--e-color-text1);
    font-weight: normal;

    a {
      display: none;
    }
  }

  h1 {
    margin-top: 0;
    text-align: center;
  }

  hr {
    margin: var(--o-spacing-h1) 0;
    border: none;
    height: 1px;
    background-color: var(--e-color-division1);
    @media screen and (max-width: 768px) {
      margin: var(--o-spacing-h4) 0;
    }
  }

  h1 {
    margin-bottom: var(--o-spacing-h2);
    font-size: var(--o-font-size-h3);
    line-height: var(--o-line-height-h3);
    font-weight: 300;
    @media screen and (max-width: 768px) {
      margin: 0 0 var(--o-spacing-h4);
      font-size: var(--o-font-size-h7);
      line-height: var(--o-line-height-h7);
    }
  }

  h2 {
    margin-top: var(--o-spacing-h2);
    margin-bottom: var(--o-spacing-h3);
    font-size: var(--o-font-size-h5);
    line-height: var(--o-line-height-h5);
    @media screen and (max-width: 768px) {
      margin: var(--o-spacing-h4) 0 var(--o-spacing-h5);
      font-size: var(--o-font-size-h8);
      line-height: var(--o-line-height-h8);
    }
  }

  h3 {
    margin-top: var(--o-spacing-h3);
    font-size: var(--o-font-size-h7);
    line-height: var(--o-line-height-h7);
    @media screen and (max-width: 768px) {
      margin: var(--o-spacing-h6) 0;
      font-size: var(--o-font-size-text);
      line-height: var(--o-line-height-text);
    }
  }

  h4 {
    margin-top: var(--o-spacing-h4);
    font-size: var(--o-font-size-h8);
    line-height: var(--o-font-size-h8);
    @media screen and (max-width: 768px) {
      margin-top: var(--o-spacing-h6);
      font-size: var(--o-font-size-tip);
      line-height: var(--o-line-height-tip);
    }
  }

  h5 {
    margin-top: var(--o-spacing-h5);
    font-size: var(--o-font-size-text);
    line-height: var(--o-font-size-text);
  }

  p,
  ul,
  ol {
    margin-top: var(--o-spacing-h8);
    margin-bottom: var(--o-spacing-h8);
    font-size: var(--o-font-size-text);
    font-weight: normal;
    color: var(--e-color-text4);
    line-height: var(--o-line-height-text);
    @media screen and (max-width: 768px) {
      font-size: var(--o-font-size-tip);
      line-height: var(--o-line-height-tip);
    }
  }

  ul,
  ol {
    padding-left: 1em;

    li {
      margin-top: 0.25em;
      &::marker {
        color: var(--o-color-base_inverse);
      }
    }
  }

  table {
    width: 100%;
    font-size: var(--o-font-size-text);
    table-layout: fixed;
    word-break: break-word;
    border-collapse: collapse;
    padding: 0;

    tr {
      height: 36px;
      color: var(--e-color-text4);
      border-bottom: 1px solid var(--e-color-table);

      th {
        font-size: var(--o-font-size-h8);
        background-color: var(--e-color-bg4);
        color: var(--e-color-text1);
      }
    }
  }

  strong {
    font-weight: bold;
  }

  img {
    display: inline-block;
    max-width: 100%;
  }

  a[href^='#'] {
    display: none;
  }
  div[class*='language-'] {
    position: relative;
    margin: 8px 0;
    background-color: var(--e-color-bg2);
    box-shadow: var(--e-shadow-sl1);
    overflow-x: auto;
    @media screen and (max-width: 768px) {
      background-color: var(--e-color-bg1);
    }
  }
  [class*='language-'] code,
  [class*='language-'] pre {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    &::-webkit-scrollbar-track {
      border-radius: 4px;
      background-color: var(--e-color-bg2);
    }

    &::-webkit-scrollbar {
      height: 8px;
      background-color: var(--e-color-bg2);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: var(--e-color-bg4);
    }
  }

  [class*='language-'] pre {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 24px 64px;
    background: 0 0;
    overflow-x: auto;
  }

  [class*='language-'] code {
    padding: 0;
    line-height: var(--o-line-height-text);
    font-size: var(--o-font-size-text);
    color: #eee;
  }
}
