.markdown {
  width: calc(100% - 32px);
  max-width: 1416px;
  padding: var(--o-spacing-h2);
  margin: 0 auto;
  margin-top: var(--o-spacing-h2);
  background-color: var(--e-color-bg2);
  --o-color-table: var(--e-color-border1); // 表格边框
  @media (max-width: 768px) {
    padding: var(--o-spacing-h7);
    margin-top: var(--o-spacing-h7);
  }
  ol,
  ul {
    list-style: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--e-color-text1);
    font-weight: normal;

    a {
      display: none;
    }
  }

  hr {
    margin: var(--o-spacing-h1) var(--o-spacing-h1);
    border: none;
    height: 1px;
    background-color: var(--e-color-bg4);
  }

  h1 {
    margin-top: var(--o-spacing-h1);
    font-size: var(--o-font-size-h3);
    line-height: var(--o-line-height-h3);
    @media screen and (max-width: 768px) {
      margin: var(--o-spacing-h4) 0;
      font-size: var(--o-font-size-h7);
      line-height: var(--o-line-height-h7);
    }
  }

  h2 {
    margin-top: var(--o-spacing-h2);
    margin-bottom: var(--o-font-size-h5);
    font-size: var(--o-font-size-h5);
    line-height: var(--o-line-height-h5);
    @media screen and (max-width: 768px) {
      margin: var(--o-spacing-h5) 0;
      font-size: var(--o-font-size-h8);
      line-height: var(--o-line-height-text);
    }
  }

  h3 {
    margin-top: var(--o-spacing-h2);
    font-size: var(--o-font-size-h7);
    line-height: var(--o-line-height-h8);
  }

  h4 {
    margin-top: var(--o-spacing-h5);
    font-size: var(--o-font-size-h8);
    line-height: var(--o-font-size-h6);
  }

  h5 {
    margin-top: var(--o-spacing-h5);
    font-size: var(--o-font-size-text);
    line-height: var(--o-font-size-h6);
  }

  p,
  ul,
  ol {
    margin-top: var(--o-spacing-h8);
    font-size: var(--o-font-size-text);
    font-weight: normal;
    color: var(--e-color-text4);
    line-height: var(--o-line-height-text);
    @media screen and (max-width: 768px) {
      font-size: var(--o-font-size-tip);
    }
  }

  ul,
  ol {
    padding-left: 1em;

    li {
      &::marker {
        color: var(--o-color-base_inverse);
      }
    }
  }

  table {
    width: 100%;
    font-size: var(--o-font-size-text);
    table-layout: fixed;
    word-break: break-word;
    border-collapse: collapse;
    padding: 0;
    border: 1px solid var(--o-color-table);

    tr {
      height: 36px;
      color: var(--e-color-text4);
      border-bottom: 1px solid var(--o-color-table);

      th {
        font-size: var(--o-font-size-h8);
        background-color: var(--e-color-bg4);
        color: var(--e-color-text1);
      }
    }
  }

  strong {
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }

  a[href^='#'] {
    display: none;
  }
  img {
    margin-top: var(--o-spacing-h5);
    @media screen and (max-width: 768px) {
      margin-top: var(--o-font-size-h7);
    }
  }
  div[class*='language-'] {
    position: relative;
    margin: 8px 0;
    background-color: var(--e-color-bg1);
    overflow-x: auto;
  }
  [class*='language-'] code,
  [class*='language-'] pre {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  [class*='language-'] pre {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 24px 64px;
    background: 0 0;
    overflow-x: auto;
  }

  [class*='language-'] code {
    padding: 0;
    line-height: var(--o-line-height-text);
    font-size: var(--o-font-size-text);
    color: #eee;
  }
}
