:root.dark {
  // 成功色
  --e-color-success1: var(--e-color-yellowgreen5); // normal
  --e-color-success2: var(--e-color-yellowgreen7); // hover
  --e-color-success3: var(--e-color-yellowgreen2); // disabled

  // 告警色
  --e-color-warning1: var(--e-color-orange5); // normal
  --e-color-warning2: var(--e-color-orange7); // hover
  --e-color-warning3: var(--e-color-orange1); // disabled

  // 错误色
  --e-color-error1: var(--e-color-red5); // normal
  --e-color-error2: var(--e-color-red7); // hover
  --e-color-error3: var(--e-color-red1); // disabled

  // 品牌色
  --e-color-brand1: var(--e-color-kleinblue8); // 常规
  --e-color-brand2: var(--e-color-kleinblue9); // 悬浮
  --e-color-brand3: var(--e-color-kleinblue5); // 点击确认
  --e-color-brand4: var(--e-color-kleinblue7); // 特殊场景
  --e-color-brand5: var(--e-color-kleinblue3); // 普通禁用
  --e-color-brand6: var(--e-color-kleinblue3); // 文字禁用

  // 文字颜色
  --e-color-text1: var(--e-color-white); // 强调/正文标题
  --e-color-text2: var(--e-color-black); // 强调/正文标题
  --e-color-text3: var(--e-color-neutral11); // 次强调/正文标题
  --e-color-text4: var(--e-color-neutral9); // 次要信息/正文
  --e-color-text5: var(--e-color-neutral5); // 置灰信息

  // 背景色
  --e-color-bg1: var(--e-color-neutral1); // 整体背景色
  --e-color-bg2: var(--e-color-greyblack1); // 一级容器背景色
  --e-color-bg3: var(--e-color-greyblack2); // 二级容器背景色
  --e-color-bg4: var(--e-color-greyblack3); // 三级容器背景色
  --e-color-bg5: var(--e-color-greyblack3); // 弹出框、tooltip背景色
  --e-color-bg6: rgba(0, 0, 0, 0.5); // 蒙层

  // 链接色
  --e-color-link1: var(--e-color-kleinblue8); // 常规
  --e-color-link2: var(--e-color-kleinblue9); // 悬浮
  --e-color-link3: var(--e-color-kleinblue5); // 点击
  --e-color-link4: var(--e-color-kleinblue7); // 特殊场景
  --e-color-link5: var(--e-color-kleinblue3); // 一般禁用
  --e-color-link6: var(--e-color-kleinblue3); // 文字禁用，暂和一般禁用保持一致

  // 边框颜色
  --e-color-border1: var(--e-color-neutral9);

  // 分割线颜色
  --e-color-division1: var(--e-color-neutral3);

  // 填充色，用于阴影容器背景
  --e-color-fill1: var(
    --o-color-- greyblack1
  ); // SL1 一级投影容器背景，应用于默认状态的卡片、楼层、导航栏、组件里局部投影背景等
  --e-color-fill2: var(
    --o-color-- greyblack2
  ); //SL1-hover 升起投影容器背景，应用于悬停状态的卡片等，是SL1的激活态
  --e-color-fill3: var(
    --o-color-- greyblack2
  ); // SL2-normal 二级投影背景，应用与一级投影上的卡片、组件等
  --e-color-fill4: var(
    --o-color-- greyblack3
  ); // SL3 覆盖阴影容器背景，应用于信息提示【tips、活动进入按钮等】等投影容器
  --e-color-fill5: var(
    --o-color-- greyblack4
  ); // SL4 弹出阴影容器背景，应用于模态弹窗投影

  /**
   * 阴影
   */
  --e-shadow1: 0 1px 7px rgba(0, 0, 0, 0.3); // SL1-normal 一级投影，应用于默认状态的卡片、楼层、导航栏、组件里局部投影等
  --e-shadow2: 0 6px 18px rgba(0, 0, 0, 0.42); // SL1-hover 升起投影，应用于悬停状态的卡片等，是SL1的激活态
  --e-shadow3: 0 6px 18px rgba(0, 0, 0, 0.42); // SL2-normal 二级投影，应用与一级投影上的卡片、组件等
  --e-shadow4: 0 10px 32px rgba(0, 0, 0, 0.54); // SL3 覆盖阴影，应用于信息提示【tips、活动进入按钮等】等投影
  --e-shadow5: 0 12px, 42px rgba(0, 0, 0, 0.72); // SL4 弹出阴影，应用于模态弹窗投影
}
