:root.dark {
  --o-color-brand: #406fe7; // 品牌色

  --o-color-text: #000000; // 文字颜色
  --o-color-text2: #ffffff; // 文字颜色1
  --o-color-text3: #b2b2b2ff; // 文字颜色3

  --o-color-bg: #1e1e1e; // 背景颜色
  --o-color-bg2: #121212; // 背景颜色2
  --o-color-bg3: rgba(64, 111, 231, 0.1); // 背景颜色3
  --o-color-bg4: #333333ff; // 背景颜色4
  --o-color-bg5: #1a212bff; // 背景颜色5
  --o-color-bg6: #333333ff; // 背景颜色6

  --o-color-division: #2d2d2d;
  --o-color-shadow: rgba(0, 0, 0, 0.42); // 阴影颜色

  --o-shadow-base: 0px 1px 7px 0px rgba(0, 0, 0, 0.3); // 一级投影，应用场景：默认状态卡片、楼层、导航栏等
  --o-shadow-base_hover: 0px 6px 18px 0px rgba(0, 0, 0, 0.42); // 一级投影hover态
  --0-shadow-secondary: 0px 6px 18px 0px rgba(0, 0, 0, 0.42); // 二级投影
  --o-shadow-secondary_hover: 0px 12px 42px 0px rgba(0, 0, 0, 0.72); // 二级投影hover态
  --o-shadow-overlay: 0px 10px 32px rbga(0, 0, 0, 0.54); // 覆盖投影，应用场景：信息提示（tips，活动进入按钮等）
  --o-shadow-overlay_hover: 0px 12px 42px 0px rgba(0, 0, 0, 0.72); // 覆盖投影hover态
  --o-shadow-pop: 0px 12px 42px rbga(0, 0, 0, 0.72); // 弹出层投影：应用场景：模态框弹窗
}
